@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  /* Override default amber colors */
  --color-accent-50: #f3d3bb;
  --color-accent-100: #e5a87a;
  --color-accent-200: #d88c4d;
  --color-accent-300: #cb7033;
  --color-accent-400: #b85b1d;
  --color-accent-500: #944713;
  --color-accent-600: #74390e;
  --color-accent-700: #562b0a;
  --color-accent-800: #3a1d06;
  --color-accent-900: #231102;
  --color-accent-950: #110800;
}
/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/
